compiled/*
cKanren/compiled/*
cKanren/tests/compiled/*
cKanren/tests/nominal/compiled*
cKanren/doc/compiled/*
cKanren/doc/*.js
cKanren/doc/*.css
cKanren/doc/manual/*
cKanren/src/compiled/*
cKanren/lang/compiled*
cKanren/unstable/compiled*
